
p{
    background-color: lightgray;
    padding: .5em;
    border-radius: 5px;
    margin-top: .5em;
    font-size: .8em;
    text-align: center;
}

table {
    width: 100%;
}


.summary-total{
    text-align: right;
}

.order-total {
    text-align: right !important;
}

.button-download{
    margin-top: 1em;
}
