table {
    width: 100%;
}
  
.calendar{
    border-radius: 0 5px 5px 0 !important;
}

.separator{
    padding: 5px;
}

.picker{
    float: right;
}

.second-form{
    padding-top: 1em;
}

.summary-total{
    text-align: right;
}

.order-total {
    text-align: right !important;
}

.button-download{
    margin-top: 1em;
}



