


.login-logo{

    height: 8em !important;
    width: auto !important;
    padding: 1em;

}

.card-body{
    padding: 0 !important;
}

.login-font{
    font-family: 'TTNorms-Thin';
}

.login-font-bold{
    font-family: 'TTNorms-Bold';
}
