<div class="bg-light min-vh-100 d-flex flex-row align-items-center">

  <c-container>
    <c-row class="justify-content-center">
      <c-col md="8">
        <c-card-group>
          <c-card class="p-4">
            <c-card-body>
              <form [formGroup]="signinForm" cForm  (submit)="signIn()">
                <h1 class="login-font-bold">Login</h1>
                <p class="login-font">Sign In to your account</p>

                <c-input-group class="mb-3 login-font">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <input 
                    autoComplete="Email" 
                    cFormControl 
                    placeholder="Email" 
                    formControlName="email"/>
                </c-input-group>

                <c-input-group class="mb-4 login-font">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input
                    autoComplete="current-password"
                    cFormControl
                    placeholder="Password"
                    type="password"
                    formControlName="password"
                  />
                </c-input-group>

                <c-row>
                  <c-col xs="6">
                    <button cButton class="px-4 login-font-bold" color="secondary" type="submit" [disabled]="!signinForm.valid">
                      Login
                    </button>
                  </c-col>
                  <c-col class="text-right" xs="6">
                    <button cButton class="px-0 login-font" color="link">
                      Forgot password?
                    </button>
                  </c-col>
                </c-row>
              </form>

            </c-card-body>
          </c-card>
          <!-- <c-card [ngStyle]="{'width.%': 44}" class="text-white bg-secondary py-5"> -->
          <c-card class="text-white bg-secondary py-5 p-4">
            <c-card-body class="text-center">
              <img class="login-logo" src="../../../../assets/img/brand/brand-logo-2.png">
              <div>
                <h3 class="login-font">Franchise Admin</h3>
              </div>
            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>

  <c-alert [visible]="visible" color="danger" fade variant="solid" *ngIf="visible" class="alert-style">

      <strong> Invalid credentials, please try again </strong>

  </c-alert>

</div>
