table {
    width: 100%;
}
  
p{
    background-color: lightgray;
    padding: .5em;
    border-radius: 5px;
    margin-top: .5em;
    font-size: .8em;
    text-align: center;
}

.calendar{
    border-radius: 0 5px 5px 0 !important;
}

.separator{
    padding: 5px;
}

.picker{
    float: right;
}

.second-form{
    padding-top: 1em;
}

.summary-total{
    text-align: right;
}

.order-total {
    text-align: right !important;
    
    div{
        float: right;
    }
}

.button-download{
    margin-top: 1em;
}


button{
    position: absolute;
    margin-left: 1em;
}


