@font-face {
    font-family: "TTNorms-Thin";
    src: url(../assets/fonts/TTNorms-Thin.otf);
}

@font-face{
    font-family: "TTNorms-Regular";
    src: url(../assets/fonts/TTNorms-Regular.otf);
}

@font-face {
    font-family: "TTNorms-Bold";
    src: url(../assets/fonts/TTNorms-Bold.otf);
}

@font-face {
    font-family: "TTNorms-Light";
    src: url(../assets/fonts/TTNorms-Light.otf);
}

@font-face{
    font-family: "Feijoa-Italic";
    src: url(../assets/fonts/FeijoaMediumItalic.otf);
}

@font-face{
    font-family: "Hello-Sanity";
    src: url(../assets/fonts/HelloSanity.ttf);
}

